/* 기본 컨테이너 스타일 */
.container {
  width: 100%;
  max-width: 1140px;
  padding: 20px 15px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
}

.board-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.btn-right {
    text-align: right;
    margin-bottom: 20px;
}

.btn {
  margin: 8px;
  padding: 8px 16px;
  color: #fff;
  background-color: #363636;
  display: inline-block;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
}

/* 3열 그리드 레이아웃 */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* 카드 스타일 */
.project-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* 이미지 썸네일 */
.project-thumb img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

/* 제목 스타일 */
.project-title {
  padding: 10px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}