<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/css/estimateWrite.css" />
</head>
<body>
    <div th:replace="layout/header"></div>

    <div class="container">
        <h3>게시글 작성</h3>
        <form action="/estimate/write" method="post">
            <table>
                <tr>
                    <th>제목</th>
                    <td colspan="3">
                        <input type="text" name="iestiTitle" required>
                    </td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td>
                        <input type="text" name="iestiName" required>
                    </td>
                    <th>상태</th>
                    <td>
                        <select name="iestiStatus" disabled>
                            <option value="견적 문의">견적 문의</option>
                            <!--<option value="시공 진행">시공 진행</option>
                            <option value="시공 완료">시공 완료</option>-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td colspan="3">
                        <textarea name="iestiRequestText" class="editor"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td colspan="3">
                        <input type="password" name="iestiPassword" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="btn-area">
                        <button type="submit">작성하기</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div th:replace="layout/footer"></div>
</body>
</html>
