<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 목록</title>
<link rel="stylesheet" href="/css/estimate.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
.btn {
   margin: 5px; 
   padding: 5px 11px;
   color: #fff !important;
   display: inline-block; 
   background-color: #363636;
   vertical-align: middle; 
   border-radius: 4px !important;
   cursor: pointer;
   border: none;
   float: right; /* 버튼을 오른쪽으로 배치 */
}


.btn:hover {background: rgb(192, 192, 192);}
</style>
</head>
<body>
   <br>
   <div th:replace="layout/header"></div>
   <div class="container">
      <h3>견적 문의 게시판</h3>
      <a href="/estimate/write" class="btn">견적 문의하기</a>
      <table class="board_list">
         <colgroup>
            <col width="12%"/>
            <col width="*"/>
            <col width="20%"/>
            <col width="12%"/>
            <col width="12%"/>
         </colgroup>
         <thead>
            <tr>
               <th scope="col">번호</th>
               <th scope="col">제목</th>
               <th scope="col">작성일</th>
               <th scope="col">상태</th>
               <th scope="col">작성자</th>
            </tr>
         </thead>
         <tbody>
            <tr th:if="${#lists.size(list) > 0}" th:each="list : ${list}">
	            <td th:text="${list.interiorEstimateId}"></td>
	            <td class="title">
	               <a href="#" th:text="${list.interiorEstimateTitle}"></a>
	            </td>
	            <td th:text="${list.interiorEstimateCreatedAt != null ? #temporals.format(list.bRegistDay, 'yyyy-MM-dd HH:mm:ss') : '-'}"></td>
	            <td th:text="${list.interiorEstimateStatus}"></td>
	            <td th:text="${list.interiorEstimateName}"></td>
            </tr>
            <tr th:unless="${#lists.size(list) > 0}">
               <td colspan="5">조회된 결과가 없습니다.</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div th:replace="layout/footer"></div>
   <br>
</body>
</html>