<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>인테리어 홈페이지</title>
<link rel="stylesheet" type="text/css" href="/css/header_footer.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<div th:replace="layout/header"></div>
	
	<div class="container">
		
		<div th:replace="layout/bannerSlide"></div>
		
		<div class="index_service-list">
	    	<h2>도배 | 장판 | 타일 | 싱크대 | 샷시 | 화장실 | 수리 | 철거</h2>
	    </div>
	    
		<div class="index_review">
		    <h3 class="index-review-title">최신 고객 후기</h3>
		    <div class="index-review-list">
		        <div class="index-review-box" th:each="review : ${latestReviews}">
		            <!-- 도배,장판 -> 도배 | 장판 으로 출력 -->
		            <div class="index-review-types" 
		                 th:text="${#strings.replace(review.ireviewTypes, ',', ' | ')}"></div>
		                 
		            <div class="index-review-text" th:text="${#strings.abbreviate(review.ireviewText, 50)}">후기 내용 일부</div>
		            <div class="index-review-info">
		                <span th:text="${review.ireviewName}">작성자</span> |
		                <span th:text="${#temporals.format(review.ireviewCreatedAt, 'yyyy-MM-dd')}">작성일</span>
		            </div>
		        </div>
		    </div>
		</div>
		
		<!-- ✅ 시공 사례는 리뷰 바깥에 따로 구성 -->
		<div class="index_project">
		    <h3 class="index-project-title">시공 사례</h3>
		    <div class="index-project-list">
		        <div class="index-project-box" th:each="project : ${latestprojects}">
		            <a th:href="@{/project/view/{id}(id=${project.iprojectId})}">
		                <div class="index-project-thumb" th:if="${project.thumbUrl != null}">
		                    <img th:src="@{'/uploads/' + ${project.thumbUrl}}" alt="시공 이미지" />

		                </div>
		                <h3 class="index-project-item-title" th:text="${project.iprojectTitle}"></h3>
		            </a>
		        </div>
		    </div>
		</div>

	    
		<div class="estimateGo">
			<div th:replace="layout/estimate-button"></div>
		</div>
	    
	    
	</div>
	
	<div th:replace="layout/footer"></div>
</body>
</html>
