<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>푸터</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="footer">
		<div class="footer-left">
	    	<p>전화문의<img src="img/phone.svg" alt="폰 svg"></p>
	        <h2>010-1234-5678</h2>
	    </div>
	    <div class="footer-right">
	        <p>인테리어샵</p>
	        <p>홍길동</p>
	        <p>전화번호: 010-9876-5432</p>
	        <p>주소: 서울특별시 강남구 테헤란로 123</p>
		</div>
    </div>
</body>
</html>